/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(to right,
      var(--page-background-first-gradient-from),
      transparent 2px),
    repeating-linear-gradient(to bottom,
      var(--page-background-second-gradient-from),
      var(--page-background-to) 2px);
  background-size: cover;
}

.header {
  font-family: PressStartRegular, sans-serif;
  margin-block-start: 102px;
  inline-size: 100%;
  block-size: 366px;
  max-block-size: 366px;
  background-color: var(--blocks-background-color);
  color: var(--font-color);
  line-height: normal;
  display: grid;
  grid-template-rows: max-content min-content;
  padding-block-start: 136px;
  border: 2px solid var(--border-color-block);
}

.page__size {
  max-inline-size: 698px;
}

.title__container {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title__container h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.page__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.theme-menu {
  margin-block-start: 25px;
  padding-inline-start: 20px;
  justify-self: center;
}

.theme-menu__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 14px;
}

.theme-menu__list:last-child {
  gap: 8px;
}

.theme-menu__button {
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.5s;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s;
}

.theme-menu__button[disabled] {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button[disabled]::before {
  content: "▶";
  position: absolute;
  left: -14.5px;
  animation: selectedTheme 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
  content: "";
  display: block;
  block-size: 2px;
  width: 0%;
  margin-top: 1px;
  color: inherit;
  background-color: var(--font-color);
  opacity: 0.6;
  transition: width 0.5s, opacity 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
  transition: width 0.5s, opacity 0.5s;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.5s;
}

.main {
  margin-block-start: 104px;
}

.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.card {
  inline-size: 100%;
  border: 2px solid var(--border-color-block);
  font-family: InterVariable, sans-serif;
  color: var(--font-color);
  background-color: var(--blocks-background-color);
}

.card__title {
  background-color: var(--background-title-color);
  padding-inline: 10px 24px;
  padding-block-end: 5px;
  font-weight: var(--font-weight-title);
  font-size: 18px;
}

.card__image-container {
  position: relative;
}

.card__image {
  inline-size: 100%;
  border-bottom: 2px solid var(--border-color-block);
  border-top: 3px solid var(--border-color-block);
}

.card__tag {
  position: absolute;
  top: 25px;
  right: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block-start: 25px;
  padding-inline: 25px;
  font-size: 18px;
  font-weight: var(--font-weight-main-text);
}

@media (width <=375px) {
  .header {
    padding-block-start: 120px;
    block-size: 323px;
    min-block-size: 323px;
  }
}