/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(to right, #d3d3d3, transparent 2px), repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a 2px);
  background-size: cover;
}

.header {
  font-family: PressStartRegular, sans-serif;
  margin-block-start: 102px;
  max-inline-size: 100%;
  max-block-size: 366px;
  background-color: #FFF;
  color: #000;
  line-height: normal;
  display: grid;
  grid-template-rows: max-content min-content;
  padding-block-start: 136px;
  border: 2px solid #000;
}

.page__size {
  inline-size: 698px;
}

.title__container {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title__container h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.page__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.theme-menu {
  margin-block-start: 25px;
  padding-inline-start: 20px;
  justify-self: center;
}

.theme-menu__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 14px;
}

.theme-menu__button {
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}


@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
    min-block-size: 323px;
  }
}